/*
toDO
organize list of styles
    variables
    global classes:
        html
        body
        bootsrap
        typography

    atoms classes
        helpers:
        title: main, medium, small,
        links: primary + secondary
        buttons: primary + secondary
        form: input, label, groups
    molecules classes
        meta
        pagination
        section: section-offset
        list
        sidebar
    organisms classes:
        header
        hero
        footer
    page classes:

tablet
mobile
rtl
*/


/* VARIABLES
    ==================================================*/
:root {
    --pm-main: #4E9FBF;
    --pm-main-50: #A7CFDF;
    --pm-light: #BCE7FF;
    --pm-dark: #404040;
    --pm-white: #FFFFFF;
    --pm-color-light: var(--pm-light);
    --pm-color-regular: var(--pm-dark);
    --pm-fontsize-regular: 16px;
    --pm-lineheight-regular: 1.5;
    --pm-fontfamily: 'Cairo', sans-serif;
    --bs-gutter-x: 1rem;
}

/*------GLOBAL-----*/
/*--body--*/
body {
    font-family: var(--pm-fontfamily);
    font-size: var(--pm-color-regular);
    line-height: var(--pm-lineheight-regular);
    color: var(--pm-color-regular);
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
}

/*reset*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

/*--typography--*/
h1, .h1 {
    font-size: 54px;
    line-height: 58px;
}

h2, .h2 {
    font-size: 48px;
    line-height: 56px;
}

h3, .h3 {
    font-size: 44px;
    line-height: 58px;
}

h4, .h4 {
    font-size: 32px;
    line-height: 58px;
}

h5, .h5 {
    font-size: 24px;
    line-height: 30px;
}

h6, .h6 {
    font-size: 22px;
    line-height: 33px;
}

.text-center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

/*---utilities---*/
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.screen-reader-text:not(:focus):not(:active) {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}

/*--layout--*/
.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
}
@media (min-width: 992px) {
    .row {
        --bs-gutter-x: 3rem;
        --bs-gutter-y: 0;
    }
}
@media (min-width: 1200px) {
    .row {
        --bs-gutter-x: 2.5rem;
        --bs-gutter-y: 0;
    }
}

.container, .container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (min-width: 992px) {
    .container, .container-fluid {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}
@media (min-width: 1200px) {
    .container, .container-fluid {
        padding-right: 1.875rem;
        padding-left: 1.875rem;
    }
}

.page-content {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.section {
    position: relative;
    overflow: hidden;
}

.section--offset {
    margin-top: 70px;
    margin-bottom: 70px;
}

/*-----ATOMS-----*/
/*---button---*/
button, .button {
    background-color: var(--pm-main);
    display: inline-block;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    white-space: nowrap;
    color: var(--pm-white);
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 18px .75rem;
    border-radius: 0;
    line-height: 17px;
    font-size: 13px;
    text-transform: uppercase;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover, .button:hover {
    color: var(--pm-white);
    background-color: #3c89a7;
}

.button-secondary {
    background-color: var(--pm-light);
}

.button-secondary:hover {
    background-color: var(--pm-light);
}

/*---link---*/
a, .link {
    text-decoration: none;
    color: var(--pm-main);
    display: inline-block;
    transition: .2s ease;
}

.link-secondary {
    color: var(--pm-white);
    text-decoration: underline rgba(255, 255, 255, 0);
    text-underline-offset: 2px;
    transition: text-decoration-color 300ms;
}

.link-secondary:hover {
    color: var(--pm-white);
    text-decoration-color: rgba(255, 255, 255, 1);
}

/*---form---*/
input {
    padding: 18px 14px;
    height: 53px;
    background: #E9F7FF;
    border: none;
    outline-color: var(--pm-main);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A6B6BF;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A6B6BF;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #A6B6BF;
}

fieldset {
    display: flex;
    align-items: end;
}

.field-group {
    margin-bottom: 0;
    margin-right: 10px;
}

/*-----ORGANISM-----*/
/*---header---*/
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
    color: var(--pm-color-light);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
@media (min-width: 992px) {
    .header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
@media (min-width: 1200px) {
    .header {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

.header__inner {
    min-height: 25px;
}
@media (min-width: 992px) {
    .header__inner {
        min-height: 35px;
    }
}

.header__text-logo {
    width: 120px;
    line-height: 0;
}
@media (min-width: 992px) {
    .header__text-logo {
        width: 160px;
    }
}
.header__text-logo svg {
    display: block;
    width: 100%;
}

.header__logo {
    position: relative;
}
.header__logo-link {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: .15s;
    z-index: 10;
    width: 40px;
}
@media (min-width: 992px) {
    .header__logo-link {
        width: 75px;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__menu {
    display: none;
}
.header__menu-wrap {
    transition: all 0s;
}
.header__menu-list {
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
}
.header__menu-item {
    display: inline-block;
    margin-right: 20px;
}
.header__language-link {
    display: flex;
    align-items: flex-end;
    color: inherit;
}

.header__menu-item a,
.header__language a {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
}
.header__menu-toggler {
    background-color: transparent;
    padding: 0;
}
.header__menu-toggler:hover {
    background-color: transparent;
}
@media (min-width: 1200px) {
    .header__menu {
        display: flex;
    }
    .header__menu-toggler {
        display: none;
    }
}

.header__menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .2s linear .1s;
    background: var(--pm-white);
    z-index: 1000;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior: contain;
}
.header__menu-mobile.menu--open {
    transform: translateX(0);
    transition: transform .2s linear .1s;

}
.header__menu-mobile .header__language,
.header__menu-mobile .header__menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header__menu-mobile .header__language-link,
.header__menu-mobile .header__menu-item {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 0;
}
@media (min-width: 992px) {
    .header__menu-mobile {
        padding: 1.5rem;
    }
}
@media (min-width: 1200px) {
    .header__menu-mobile {
        display: none;
    }
}

/*mobile menu*/
@media (max-width: 1199px) {
    .no-scroll,
    .no-scroll body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }

}


/*---hero---*/
.hero {
    color: var(--pm-white);
}

.hero__wrapper {
    position: relative;
    overflow: hidden;
}

.hero__content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    justify-content: center;
    min-height: 600px;
}

.hero__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 52px;
    color: var(--pm-white);
    margin-bottom: 30px;
}

.hero__subtitle {
    line-height: 28px;
}

.hero__menu {
}

.hero__menu-list {
    margin-bottom: 40px;
}

.hero__menu-item {
    margin-bottom: 20px;
}

.hero__menu-item > a {
    font-weight: 600;
    line-height: 30px;
    color: var(--pm-white);
    position: relative;
    padding-left: 16px;
    border-left: 3px solid var(--pm-main);
    transition: .2s ease;
}

.hero__menu-item > a:hover {
    text-decoration: underline;
    color: var(--pm-main-50);
}

.hero__btn {
    min-width: 270px;
}

.hero__image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero__image img {
    max-width: none;
}

/*---footer---*/
.footer {
    position: relative;
    background-color: var(--pm-color-light);
}

.footer > * {
    position: static;
    z-index: 1;
}

.footer__menu-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: var(--pm-color-light) url("../images/footer_bg.svg") no-repeat 0 0;
}

.footer__menu-wrapper {
    padding: 90px 0;
    background-color: var(--pm-main);
}

.footer__menu {
}

.footer__menu-list {
}

.footer__menu-item {
    margin-bottom: 22px;
    line-height: 1;
}

.footer__menu-item > a {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--pm-white);
}

.footer__social {
    margin-bottom: 40px;
}

.footer__social-list {
    display: flex;
}

.footer__social-item {
    padding-right: 20px;
}

.footer__address {
    margin-bottom: 30px;
    line-height: 24px;

}

.footer__address-title {
    color: var(--pm-white);
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.footer__address-text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 17px;
    color: var(--pm-color-light);
}

.footer__central-logo {

}

.footer__text-logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--pm-color-light);
}

.footer__administration-wrapper {
    background-color: var(--pm-white);
}

.footer__administration-content {
    padding-top: 20px;
    padding-bottom: 20px;

}

.footer__administration-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.footer__administration-title {
    font-weight: 700;
    font-size: 47px;
    line-height: 56px;
    margin: 15px 0 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--pm-main);
}

.footer__administration-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #767677;
    margin-bottom: 30px;
}

.footer__administration-list {
    display: flex;
}

.footer__administration-item {
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    position: relative;
    padding-left: 16px;
    border-left: 3px solid var(--pm-main);
    min-width: 240px;
}

.footer__cta-wrapper {
    padding: 45px 0;
}

.footer__cta-form {
}

.footer__cta-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.footer__cta-label {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;
    margin-bottom: 6px;
}

.footer__cta-input {
    width: 100%;
}

.footer__cta-button {
    min-width: 194px;
}

.footer__cta-fieldset {
    justify-content: flex-end;
}

/*---sidebar---*/
.sidebar {
    position: relative;
}

.sidebar::after {
    content: "";
    position: absolute;
    width: 1px;
    background: var(--pm-light);
    top: 0;
    bottom: 0;
    left: calc(var(--bs-gutter-x) / -2);
}

.sidebar__item {
    margin-bottom: 32px;
}

.sidebar__item:last-child {
    margin-bottom: 0;
}

.sidebar__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: underline;
}

/*---pagination---*/
.pagination {
    color: var(--pm-white);
}

.pagination__list {
    display: flex;
    justify-content: center;
}

.pagination__item {
    margin: 0 15px;
}

.pagination__link {
    color: var(--pm-white);
}

/*-----PAGES-----*/
/*---home page---*/
/*---home news section---*/
.home-news__section {
    margin-top: 46px;
    margin-bottom: 46px;
}

.home-news__column {
    position: relative;
    border-right: 1px solid var(--pm-color-light);
}

.home-news__column.last-child {
    border-right: none;
}

.news-item {
    flex: 0 0 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--pm-color-light);
    padding-bottom: 20px;
    position: relative;
    transition: .2s ease;
}

.home-news__column .news-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.news-item__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}

.news-item__meta {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: var(--pm-main);
    text-transform: uppercase;
}

.news-item__meta__separator {
    padding: 0 10px;
}

.news-item-primary .news-item__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 24px;
}

/*---home covid section---*/
.home__covid-section {
    margin-top: 70px;
    margin-bottom: 70px;
}

.home__covid-wrapper {
    padding: 30px 40px;
    background-color: var(--pm-color-light);
}

.home__covid-column {
    padding: 0 10px;
}

.home__covid-column-border {
    border-right: 1px solid var(--pm-main-50);
}

.home__covid-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

.home__covid-vaccine {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-right: 16px;
}

.home__covid-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    max-width: 160px;
}

.home__covid-button {
    margin-top: 30px;
}

.home__covid-subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 41px;
    margin-bottom: 0;
    text-align: center;
}

.home__covid-stat {
    text-align: right;
}

.home__covid-stat__value {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.covid-timeline__placeholder {
    width: 100%;
    min-height: 50px;
    background-color: var(--pm-main);
    margin: 14px 0 8px;
}

.covid-timeline__list {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.covid-timeline__item {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}

.covid-timeline__item:last-child {
    text-align: right;
}

.covid-timeline__date {
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
}

/*---home administration section---*/
.administration {
    position: relative;
    margin-bottom: 100px;
    z-index: 5;
}

.administration-row {
    justify-content: center;
    margin-top: -170px;
}

.administration__card {
    max-width: 285px;
}

.administration__card-img {
}

.administration__card-name {
    font-weight: 700;
    color: #505050;
}

.administration__card-position {
    font-weight: 600;
    color: #505050;
}

/*---post page---*/
.post {
    margin-top: 70px;
    margin-bottom: 70px;
}

/*---briefing-room page---*/
.briefing-room {
    margin-top: 70px;
    margin-bottom: 70px;
    color: var(--pm-white);
}

.briefing-room__page,
.briefing-room__page .header {
    background-color: var(--pm-main);
}

.briefing-room__page .header a {
    color: var(--pm-white);
}

.briefing-room__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 90px;
}

.briefing-room__list-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--pm-light);
}

.briefing-room__list-item:last-child {
    border-bottom: none;
}

.briefing-card__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 12px;
}

.briefing-card__date {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
}

.briefing-card__meta {
    display: flex;
    align-items: center;
}

.briefing-card__separator {
    margin: 0 10px;
}

.briefing-card__category {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

/*---article page---*/
.article__section {
}

.article__heading {
    text-align: center;
    margin-bottom: 70px;
}

.article__subtitle {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: var(--pm-main);
    margin-bottom: 16px;
}

.article__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    margin-bottom: 16px;
}

.article__meta {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: var(--pm-main);
    justify-content: center;
}

.article__date {
}

.article__separator {
    margin: 0 10px;
    color: inherit;
}

.article__category {
    text-transform: uppercase;
}

.article__content {
}

/*---priorities page---*/
.priorities__list {
    line-height: 58px;
}

.priorities__item {
    font-size: 20px;
    margin-bottom: 32px;
}

.priorities__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
}

.priorities__more {
    text-decoration: underline;
}

